In [ ]:
import pandas as pd
import numpy as np

In [ ]:
True_news=pd.read_csv('True.csv')

In [ ]:
Fake_news=pd.read_csv('Fake.csv')

In [ ]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [ ]:
Fake_news

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [ ]:
True_news['label']=0
Fake_news['label']=1

In [ ]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [ ]:
Fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [ ]:
dataset1=True_news[['text','label']]
dataset2=Fake_news[['text','label']]

In [ ]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [ ]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [ ]:
dataset=pd.concat([dataset1,dataset2])

In [ ]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [ ]:
dataset.shape

(44898, 2)

#Checking null values

In [ ]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

#Counting number of fake news and true news

In [ ]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [ ]:
dataset=dataset.sample(frac=1)

In [ ]:
dataset

                                                    text  label
613    WASHINGTON (Reuters) - Former Trump campaign a...      0
4501   UNITED NATIONS (Reuters) - The State Departmen...      0
2564   WASHINGTON (Reuters) - Republican Senator Rand...      0
13503  (Reuters) - A New York comedian has been compe...      0
21718   Misogyny is ingrained in people from the time...      1
...                                                  ...    ...
12601  MOSCOW (Reuters) - The situation on the Korean...      0
17497  House Speaker Paul Ryan (R., Wis.) on Tuesday ...      1
9801   The football league formerly known as the Ling...      1
7204   Cruz has recently gone on the attack against D...      1
1315   WASHINGTON (Reuters) - The Republican chairman...      0

[44898 rows x 2 columns]

# NLP

In [ ]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
ps=WordNetLemmatizer()

In [ ]:
stopwords=stopwords.words('english')

In [ ]:
def clean_row(row):
    row=row.lower()
    row=re.sub('[^a-zA-Z]',' ',row)

    token=row.split()

    news=[ps.lemmatize(word) for word in token if not word in stopwords]

    cleaned_news=' '.join(news)

    return cleaned_news

In [ ]:
dataset['text']

613      WASHINGTON (Reuters) - Former Trump campaign a...
4501     UNITED NATIONS (Reuters) - The State Departmen...
2564     WASHINGTON (Reuters) - Republican Senator Rand...
13503    (Reuters) - A New York comedian has been compe...
21718     Misogyny is ingrained in people from the time...
                               ...
12601    MOSCOW (Reuters) - The situation on the Korean...
17497    House Speaker Paul Ryan (R., Wis.) on Tuesday ...
9801     The football league formerly known as the Ling...
7204     Cruz has recently gone on the attack against D...
1315     WASHINGTON (Reuters) - The Republican chairman...
Name: text, Length: 44898, dtype: object

In [ ]:
dataset['text']=dataset['text'].apply(lambda x:clean_row(x))

In [ ]:
dataset['text']

613      washington reuters former trump campaign advis...
4501     united nation reuters state department said mo...
2564     washington reuters republican senator rand pau...
13503    reuters new york comedian compelled appear hou...
21718    misogyny ingrained people time born taylor swi...
                               ...
12601    moscow reuters situation korean peninsula risk...
17497    house speaker paul ryan r wi tuesday pushed ba...
9801     football league formerly known lingerie footba...
7204     cruz recently gone attack donald trump recentl...
1315     washington reuters republican chairman u house...
Name: text, Length: 44898, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorizer=TfidfVectorizer(max_features=50000,lowercase=False,ngram_range=(1,2))

In [ ]:
x=dataset.iloc[:35000,0]
y=dataset.iloc[:35000,1]

In [ ]:
x

613      washington reuters former trump campaign advis...
4501     united nation reuters state department said mo...
2564     washington reuters republican senator rand pau...
13503    reuters new york comedian compelled appear hou...
21718    misogyny ingrained people time born taylor swi...
                               ...
5264     north charleston c reuters u senator tim scott...
14791    beijing reuters china must step battle corrupt...
10200    president trump made forceful statement regard...
8296     new york reuters speech wednesday phoenix ariz...
6174     austin texas reuters former u president george...
Name: text, Length: 35000, dtype: object

In [ ]:
y

613      0
4501     0
2564     0
13503    0
21718    1
        ..
5264     0
14791    0
10200    1
8296     0
6174     0
Name: label, Length: 35000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_data,test_data,train_label,test_label=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
vec_train_data=vectorizer.fit_transform(train_data)

In [ ]:
type(vec_train_data)

scipy.sparse._csr.csr_matrix

In [ ]:
vec_train_data=vec_train_data.toarray()

In [ ]:
type(vec_train_data)

numpy.ndarray

In [ ]:
vec_test_data=vectorizer.fit_transform(test_data)
vec_test_data=vec_test_data.toarray()

In [ ]:
vec_train_data.shape,vec_test_data.shape

((28000, 50000), (7000, 50000))

In [ ]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
vec_test_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
training_data=pd.DataFrame(vec_train_data,columns=vectorizer.get_feature_names_out() )
testing_data=pd.DataFrame(vec_test_data,columns=vectorizer.get_feature_names_out() )

In [ ]:
training_data

,aa,aadhaar,aapl,aaron,aaron bernstein,ab,aba,ababa,abadi,abadi said,...,zone gt,zone listen,zone syria,zor,zor city,zor province,zschaepe,zuckerberg,zulia,zuma
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
testing_data

,aapl,aaron,ab,aba,aba aslani,ababa,aback,abadi,abadi office,abadi said,...,zone would,zoning,zoo,zor,zor province,zucker,zuckerberg,zuckerberg said,zuma,zurich
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
clf=MultinomialNB()

In [ ]:
clf.fit(training_data,train_label)

MultinomialNB()

In [ ]:
y_pred=clf.predict(testing_data)

In [ ]:
test_label

18802    1
17911    0
11965    1
1354     0
6940     1
        ..
16085    0
7608     1
15610    1
19848    0
16783    0
Name: label, Length: 7000, dtype: int64

In [ ]:
y_pred

array([0, 0, 1, ..., 0, 1, 0])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(test_label,y_pred)

0.5765714285714286

In [ ]:
y_pred_train=clf.predict(training_data)

In [ ]:
accuracy_score(train_label,y_pred_train)

0.9595714285714285

# Testing

In [ ]:
txt='The following statementsÂ were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own.Â Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - Vanity Fair, which looks like it is on its last legs, is bending over backwards in apologizing for the minor hit they took at Crooked H. Anna Wintour, who was all set to be Amb to Court of St Jamesâ€™s & a big fundraiser for CH, is beside herself in grief & begging for forgiveness! [1024 EST] -- Source link: (bit.ly/2jBh4LU) (bit.ly/2jpEXYR) '

In [ ]:
news=clean_row(txt)

In [ ]:
news

'following statement posted verified twitter account u president donald trump realdonaldtrump potus opinion expressed reuters edited statement confirmed accuracy realdonaldtrump vanity fair look like last leg bending backwards apologizing minor hit took crooked h anna wintour set amb court st james big fundraiser ch beside grief begging forgiveness est source link bit ly jbh lu bit ly jpexyr'

In [ ]:
pred=clf.predict(vectorizer.transform([news]).toarray())

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [ ]:
pred

array([1])

In [ ]:
if pred==0:
    print("News is correct")
else:
    print("News is false")

News is false

In [ ]:
txt=input("Enter a news: ")

news=clean_row(str(txt))

pred=clf.predict(vectorizer.transform([news]).toarray())

if pred==0:
    print("News is True")
else:
    print("News is Fake")

Enter a news: As U.S. budget fight looms, Republicans flip
News is Fake

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(